<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title ,class: "form-label" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author ,class: "form-label" %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :content ,class: "form-label" %>
    <br>
    <%= form.text_area :content, cols: "50", rows: "30" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
